@using AnketUygulamaSistemi.Models
@model List<Anket>
@{
    ViewBag.Title = "AnketGoruntule";
    Layout = "~/Views/_KullaniciLayout.cshtml";
}

<h2>AnketGoruntule</h2>
@if (TempData["sifreBasari"] != null && TempData["sifreBasari"].ToString() != "")
{
    <div class="alert alert-danger" style="background-color:#dff0d8; border-color: #d6e9c6; color: #3c763d;">
        @TempData["sifreBasari"].ToString()
    </div>
}
<ul>


    @foreach (var anket in Model)
    {
        string href = "/Home/AnketDetay/" + anket.anketId;
        <li>
            <a href=@href>@anket.anketAdi</a>
        </li>
    }
</ul>

